:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --scale: 3.5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  background-color: var(--cream);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  min-width: 340px;
  margin: 0 1rem 2rem 1rem;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 400;
}

.rounded-corner {
  border: none;
  border-radius: 0.5rem;
}

.balance {
  background-color: var(--soft-red);
  color: var(--very-pale-orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 0 0 1.5rem 0;
}

.balance p.bold {
  font-size: 1.5rem;
}

h1,
.total,
.percentage {
  color: var(--dark-brown);
}

.spending {
  background-color: var(--very-pale-orange);
  padding: 1.5rem 1rem;
}

.spending h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.spending hr {
  border: solid 1px var(--soft-red);
  opacity: 30%;
  margin: 2rem 0;
}

.spending .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.spending .container .chart {
  width: 11.5%;
  text-align: center;
  position: relative;
}

.spending .container .chart .amount {
  background-color: var(--dark-brown);
  color: var(--very-pale-orange);
  font-size: 0.8rem;
  border-radius: 5px;
  width: 125%;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  position: relative;
  right: 14%;
  opacity: 0;
}

.spending .container .chart .bar {
  background-color: var(--soft-red);
  border-radius: 5px;
}

.spending .container .chart .bar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.spending .container .chart .label {
  font-size: smaller;
}

.spending p.thin {
  color: var(--medium-brown);
}

.spending .total-report {
  margin: 0 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spending .total-report p.total {
  font-size: 1.8rem;
}

.spending .total-report .compare-percentage {
  text-align: right;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 768px) {
  :root {
    --scale: 2.5;
  }
  body {
    font-size: 1.125rem;
  }
  .balance {
    padding: 1rem 2rem;
  }
  .balance p.bold {
    font-size: 2rem;
  }
  .spending {
    padding: 2rem 2rem;
  }
  .spending h1 {
    font-size: 2rem;
  }
  .spending .total-report p.total {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */